In [9]:
import datetime
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import urllib, json
import pandas as pd

In [2]:
with open('recipelist_utf8.JSON') as data_file:    
    data = json.load(data_file, encoding='latin-1')

In [3]:
data[1]

{u'author': [u'Mary Berry'],
 u'cookTime': [u'10 to 30 mins'],
 u'date': [u'2014-04-02 01:50:03'],
 u'desription': [u'\n    This is my standby pasta supper as it is so delicious, so quick and everyone loves it. Great for everyday or for casual supper parties too.\n'],
 u'ingred.links': [u'pasta',
  u'ham',
  u'chestnut mushrooms',
  u'cr\xc3\xa8me fra\xc3\xaeche',
  u'Parmesan',
  u'parsley',
  u'pepper',
  u'salad',
  u'bread'],
 u'ingredients': [u' 350g/12oz penne pasta ',
  u' 2 x 80g/3oz packs Parma ham, snipped into small pieces',
  u' 250g/9oz small brown chestnut mushrooms, halved or quartered',
  u' 200g/7oz full-fat cr\xc3\xa8me fra\xc3\xaeche',
  u' 100g/3\xc2\xbdoz Parmesan, grated ',
  u' 2 tbsp chopped parsley ',
  u' salt and pepper, to taste',
  u' green salad',
  u' crunchy bread'],
 u'name': [u'15 minute pasta'],
 u'prepTime': [u'less than 30 mins'],
 u'recipeInstructions': [u'Cook the pasta in a pan of boiling salted water according to the packet instructions. Drain and set aside',
  u'Heat a frying pan until hot. Add the pieces of Parma ham and fry until crisp, remove half of the ham onto a plate and set aside. Add the mushrooms to the pan and fry for two minutes. Add the cr\xc3\xa8me fra\xc3\xaeche and bring up to the boil. Add the pasta, Parmesan and parsley and toss together over the heat. Season well with salt and pepper.',
  u'Serve with a green salad and crunchy bread.'],
 u'recipeYield': [u'Serves 6']}

In [10]:
food_producer_prices = pd.read_csv('../data/food.producer.prices.csv')

In [11]:
food_producer_prices.head()

,Domain Code,Domain,Country Code,Country,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,PP,Producer Prices - Annual,7,Angola,5530,Producer Price (LCU/tonne),572,Avocados,2010,2010,LCU,68500.0,NaN,Official data
1,PP,Producer Prices - Annual,7,Angola,5530,Producer Price (LCU/tonne),572,Avocados,2011,2011,LCU,66900.0,NaN,Official data
2,PP,Producer Prices - Annual,7,Angola,5530,Producer Price (LCU/tonne),572,Avocados,2012,2012,LCU,49000.0,NaN,Official data
3,PP,Producer Prices - Annual,7,Angola,5530,Producer Price (LCU/tonne),572,Avocados,2013,2013,LCU,68290.0,NaN,Official data
4,PP,Producer Prices - Annual,7,Angola,5530,Producer Price (LCU/tonne),572,Avocados,2014,2014,LCU,68210.0,NaN,Official data

In [13]:
food_producer_prices.describe()

,Country Code,Element Code,Item Code,Year Code,Year,Value
count,7785.000000,7785.000000,7785.000000,7785.000000,7785.000000,7.785000e+03
mean,127.488247,5530.992293,462.398715,2002.645472,2002.645472,5.479000e+05
std,75.502727,0.814938,192.608508,6.648199,6.648199,9.498544e+06
min,7.000000,5530.000000,92.000000,1991.000000,1991.000000,5.642473e-02
25%,57.000000,5530.000000,270.000000,1997.000000,1997.000000,4.955844e+02
50%,126.000000,5531.000000,572.000000,2003.000000,2003.000000,1.846500e+03
75%,184.000000,5532.000000,656.000000,2008.000000,2008.000000,2.418000e+04
max,351.000000,5532.000000,656.000000,2014.000000,2014.000000,4.710000e+08

In [15]:
# rows and columns

food_producer_prices.shape

(7785, 14)

In [16]:
food_producer_prices.index

RangeIndex(start=0, stop=7785, step=1)